<?xml version="1.0" encoding="utf-8"?>
<config>
  <fee_per_day>10</fee_per_day>
  <latest_ids>
    <guests.xml>00000000</guests.xml>
    <guest_requests.xml>00000000</guest_requests.xml>
    <hosts.xml>00000000</hosts.xml>
    <orders.xml>00000000</orders.xml>
    <units.xml>00000000</units.xml>
  </latest_ids>
  <smtp_client>
    <port>587</port>
    <host>smtp.gmail.com</host>
    <username>fluffyoctorobot@gmail.com</username>
    <password>uMbV3pfNPw6E</password>
  </smtp_client>
  <admin_email>fluffyoctorobot@gmail.com</admin_email>
</config>